@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Carter+One&family=Londrina+Shadow&family=Londrina+Sketch&family=Londrina+Solid&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background: url(../images/snow-rocks.png);
  overflow: hidden;
}

.header-container {
  margin: 3em auto;
  height: 6em;
  background-color: #e9e9ec;
  border: 2px solid #10100e;
  border-radius: 20px;
  position: relative;
  box-shadow: 2px 2px 2px #c4b3a3;
}

.header-main {
  color: #10100e;
  position: absolute;
  font-family: "Londrina Shadow", cursive;
  font-size: 6em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px #c4b3a3;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header-info {
  color: #10100e;
  padding-top: 1.2em;
  font-family: "Londrina Solid", cursive;
  font-size: 4em;
  letter-spacing: 1.5px;
}

.game-container {
  height: 65vh;
  background: url(../images/iceberg.jpg) no-repeat right center;
  border-radius: 20px;
}

footer {
  background-color: #e9e9ec;
  width: fit-content;
  max-height: 100px;
  margin: 1em auto;
  font-family: "Amatic SC", cursive;
  border-radius: 20px;
}

footer i {
  color: #03798a;
  margin: 0.5em;
  transition: 0.3s;
}

footer i:hover,
footer i:active {
  color: #03798a8c;
}

/* Start and Leaderboard cards */

.card-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 75%;
  height: fit-content;
  background-color: #9eadb5;
  border-radius: 20px;
  z-index: 999;
  opacity: 0.9;
}

/* Applied when start game is activated */

.card-info.game-on {
  visibility: hidden;
  z-index: 0;
  opacity: 0;
}

.leaderboard {
  width: 80%;
  position: relative;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  margin-top: 3em;
  margin-left: 7%;
  color: #10100e;
}

.leaderboard thead th {
  border-bottom: 2px solid #10100e;
}

.leaderboard th,
.leaderboard td {
  border-top: 1px solid #10100e;
  vertical-align: middle;
}

.highscore {
    width: 50%;
    font-family: "Amatic SC", cursive;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

/* Add when leaderboard is clicked and remove on back button click */

.card-board.scoreboard {
  visibility: visible;
  z-index: 999;
  opacity: 0.9;
}

.story {
  position: relative;
  font-family: "Carter One", cursive;
  font-size: 1.2em;
  margin: 0 auto;
  color: #10100e;
}

.line-break {
  display: block;
}

.btn-game {
  margin: 1em;
  color: #10100e;
  background-color: #03798a;
  border-color: #03798a;
  transition: 0.3s;
}

.btn-game:hover,
.btn-game:focus {
  color: #e9e9ec;
  background-color: #03798a8c;
  border-color: #03798a8c;
  box-shadow: none;
}

.penguin {
  margin: 1em;
  padding: 1em;
}

.penguin-left {
  top: 10%;
  left: 33%;
}

.penguin-right {
  top: 10%;
  right: 33%;
  transform: scaleX(-1);
}

/* Hole positions */

.game-row {
  padding-top: 4%;
  height: 25%;
  position: relative;
}

.hole {
  overflow: hidden;
}

/* pseudo-element styles from Wes Bos JavaScript 30 day Challenge to solve issue with walruses not popping up in right place*/
.hole:after {
  display: block;
  background: url(../images/snow.png) no-repeat center center;
  background-size: contain;
  content: "";
  width: 115px;
  height: 45px;
  position: absolute;
  z-index: 100;
}

/* Position snow pile and walrus above each other */

.hole-1:after {
  top: 70%;
  right: 8%;
}

.hole-1 .walrus {
  top: 100%;
  right: 9%;
}

.hole-2:after {
  top: 130%;
  right: 3%;
}

.hole-2 .walrus {
  top: 145%;
  right: 3.5%;
}

.hole-3:after {
  top: 122%;
  right: 23%;
}

.hole-3 .walrus {
  top: 135%;
  right: 24%;
}

.hole-4:after {
  top: 228%;
  right: 11%;
}

.hole-4 .walrus {
  top: 225%;
  right: 12%;
}

.hole-5:after {
  top: 199%;
  left: 23%;
}

.hole-5 .walrus {
  top: 220%;
  left: 24%;
}

.hole-6:after {
  top: 220%;
  left: 43%;
}

.hole-6 .walrus {
  top: 220%;
  left: 47%;
}

.hole-7:after {
  top: 252%;
  right: 37%;
}

.hole-7 .walrus {
  top: 250%;
  right: 34%;
}

.hole-8:after {
  top: 232%;
  left: 3%;
}

.hole-8 .walrus {
  top: 260%;
  left: 4%;
}

/* Walrus */

.walrus {
  background: url(../images/walrus.png) no-repeat bottom center;
  width: 100px;
  height: 70px;
  position: absolute;
  transition: all 20ms;
  transform: scale(0.95);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

/* When class hole has the up class, apply this to walrus */

.hole.up .walrus {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

.hole-1.up .walrus {
  top: 50%;
}

.hole-2.up .walrus {
  top: 110%;
}

.hole-3.up .walrus {
  top: 102%;
}

.hole-4.up .walrus {
  top: 204%;
}

.hole-5.up .walrus {
  top: 178%;
}

.hole-6.up .walrus {
  top: 197%;
  left: 44%;
}

.hole-7.up .walrus {
  top: 229%;
  right: 38%;
}

.hole-8.up .walrus {
  top: 211%;
}

/* Time and Score */

.info-box {
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  font-weight: 700;
  color: #10100e;
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.box {
  width: 50px;
  margin-left: 0.5em;
  display: inline-block;
  background-color: #03798a;
  border: 1px solid #10100e;
  border-radius: 10px;
}

.score {
  text-align: end;
}

.blue {
  font-family: "Londrina Solid", cursive;
  text-shadow: 2px 2px #10100e;
  color: #03798a;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .header-main {
    font-size: 5em;
  }

  .game-container {
    height: 70vh;
    background: url(../images/house-lg.jpg) no-repeat center center;
  }

  .hole-1:after {
    right: 30%;
  }

  .hole-2:after {
    top: 145%;
  }

  .hole-3:after {
    top: 139%;
    right: 38%;
  }

  .hole-4:after {
    top: 200%;
    right: 9%;
  }

  .hole-5:after {
    top: 150%;
    left: 17%;
  }

  .hole-6:after {
    top: 237%;
    left: 12%;
  }

  .hole-7:after {
    top: 221%;
    right: 33%;
  }

  .hole-8:after {
    top: 93%;
    left: 12%;
  }

  .hole-1.up .walrus {
    top: 54%;
    right: 31%;
  }

  .hole-2.up .walrus {
    top: 129%;
    right: 4%;
  }

  .hole-3.up .walrus {
    top: 123%;
    right: 39%;
  }

  .hole-4.up .walrus {
    top: 184%;
    right: 10%;
  }

  .hole-5.up .walrus {
    top: 135%;
    left: 18%;
  }

  .hole-6.up .walrus {
    top: 221%;
    left: 13%;
  }

  .hole-7.up .walrus {
    top: 205%;
    right: 34%;
  }

  .hole-8.up .walrus {
    top: 78%;
    left: 13%;
  }
}

@media only screen and (max-width: 820px) {
  .header-main {
    font-size: 4em;
  }

  .game-container {
    height: 70vh;
    background: url(../images/house.jpg) no-repeat bottom center;
  }

  .walrus {
    background: url(../images/walrus.png) no-repeat bottom center;
  }
}

@media only screen and (max-width: 541px) {
  .header-container {
    margin: 1.5em 0;
  }

  .header-main {
    font-size: 2.5em;
    margin-right: 0;
  }

  .header-info {
    font-size: 2em;
    padding-top: 0;
  }

  .game-container {
    background: url(../images/house.jpg) no-repeat center center;
  }

  footer {
    margin: 0 auto;
  }

  .leaderboard {
    font-size: 1em;
    width: 100px;
    letter-spacing: 1px;
    margin: 1em auto;
    margin-bottom: 0;
  }

  .break {
    display: block;
  }

  .story {
    font-size: 1em;
  }

  .btn-game {
    margin: 10px;
    padding: 10px;
  }
  .penguin {
    margin: 0;
    width: 60%;
    height: 60%;
  }

  /* Positions for holes and walruses */

  .hole:after {
    width: 95px;
    height: 45px;
  }
  .hole-1:after {
    top: 50%;
    right: 0;
  }

  .hole-2:after {
    top: 123%;
    right: 16%;
  }

  .hole-3:after {
    top: 60%;
    right: 34%;
  }

  .hole-4:after {
    top: 235%;
    right: 4%;
  }

  .hole-5:after {
    top: 50%;
    left: 0%;
  }

  .hole-6:after {
    top: 212%;
    left: 35%;
  }

  .hole-7:after {
    top: 185%;
    right: 66%;
  }

  .hole-8:after {
    top: 116%;
  }

  .walrus {
    background: url(../images/walrus-small.png) no-repeat bottom center;
  }

  .hole-1.up .walrus {
    top: 15%;
    right: 0%;
  }

  .hole-2.up .walrus {
    top: 88%;
    right: 16%;
  }

  .hole-3.up .walrus {
    top: 25%;
    right: 34%;
  }

  .hole-4.up .walrus {
    top: 200%;
    right: 4%;
  }

  .hole-5.up .walrus {
    top: 15%;
    left: 0%;
  }

  .hole-6.up .walrus {
    top: 178%;
    left: 34%;
  }

  .hole-7.up .walrus {
    top: 149%;
    right: 66%;
  }

  .hole-8.up .walrus {
    top: 79%;
    left: 11%;
  }

  .info-box {
    font-size: 1.5em;
  }

  .box {
    width: 25px;
    margin-left: 0.5em;
  }
}
